extends layout.jade
block contenido
    //slider
    section(class="slider_area row m0")
        div(class="slider_inner")
            div(data-thumb="/images/thefolderslogofooter.jpg" data-src="/images/thefolderslogofooter.jpg")
                div(class="camera_caption")
                    div(class="container")
                        h5(class=" wow fadeInUp animated")
                        h3(class=" wow fadeInUp animated" data-wow-delay="0.5s")
                        p(class=" wow fadeInUp animated" data-wow-delay="0.8s")
                        a(class=" wow fadeInUp animated" data-wow-delay="1s" href="about.html") Mas informacion
            div(data-thumb="" data-src="")
                div(class="camera_caption")
                    div(class="container")
                        h5(class=" wow fadeInUp animated")
                        h3(class=" wow fadeInUp animated" data-wow-delay="0.5s")
                        p(class=" wow fadeInUp animated" data-wow-delay="0.8s")
                        a(class=" wow fadeInUp animated" data-wow-delay="1s" href="about.html") Mas informacion

    //About us area
    section(class="about_us_area row")
        div(class="container")
            div(class="row about_row")
                div(class="who_we_are col-md-7 col-sm-6")
                    div(class="subtittle")
                        h2 The Folders
                    p Importador y distribuidor de Boncahier - Flame tree - Life canvas - Watercolour books - Entre otros  Conoce nuestro catalogo.
                    a(href="contacto" class="button_all") Contactanos
                div(class="col-md-5 col-sm-6 about_client")
                    img(src="/images/boncaindex.jpg" alt="imagen boncahier" )
     