extends layout.jade
block contenido
    // About Us Area
    section.about_us_area.row
    .container.top-space
        .row.about_row
        .col-md-5.col-sm-6.about_client.about_pages_client
            img(src='images/flamenos.jpg', alt='')
        .who_we_area.col-md-7.col-sm-6
            .subtittle
            h2 The Folders S.A
            p
            | ----------------------------------------------------------------------------------------------------------------------Descripcion the folders
            | -----------------------------------------------------------------------------------------------------------------------
            a.button_all(href='contact.html') Contactanos
